<a href="https://colab.research.google.com/github/Judith-Diaz/Analisis-Rendimientos-de-la-empresa/blob/main/DatosARGtasaSifilis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [309]:

#DATASETS DATOS GOB.COM
#Vigilancia yo Notificación de Enfermedades sifilis tasa de sifilis
# fuente : https://datos.gob.ar/dataset/salud-tasas-sifilis-por-100-mil-habitantes-por-sexo-jurisdiccion-residencia

#Censo 2022: en la Argentina se contabilizaron 45.892.285 personas , 22.186.791 eran varones y 23.705.494, mujeres.
#fuente: https://www.indec.gob.ar/indec/web/Nivel4-Tema-2-18-77

In [310]:
#Importar librerias
import requests

import pandas as pd
import io
import os
import time
import warnings
import unicodedata

pd.set_option('display.float_format', '{:.2f}'.format)  #para que los tipo de datos float noa parezcan en notacion cientifica

start = time.time()
# Ignore warnings
#warnings.filterwarnings("ignore")

In [311]:
#Lista de URLs de los datasets por año , use el fromato de diccionario, donde la clave es el año, y el valor estaria en la url
urls_datasets = {
'2022' : 'http://datos.salud.gob.ar/dataset/2ccd96b6-8cfc-4cd2-a685-6d2298a97b60/resource/de78a103-81c5-4643-a789-0a80a9c556a1/download/tasa-sifilis-por-100-mil-habitantes-sexo-jurisdiccion-2018-2020-argentina_1.csv',
'2023' : 'http://datos.salud.gob.ar/dataset/2ccd96b6-8cfc-4cd2-a685-6d2298a97b60/resource/4dcd07fd-6eea-4958-8bbe-828aea0b843d/download/tasa-sifilis-por-100-mil-habitantes-sexo-jurisdiccion-2022-argentina.csv',
'2024' : 'http://datos.salud.gob.ar/dataset/2ccd96b6-8cfc-4cd2-a685-6d2298a97b60/resource/2a965b54-55e2-4c73-bab3-15b804f01c21/download/tasa_sifilis_prov_2022-2023_3.csv'
}

In [312]:
#Crear Dataframes directamente desde las UTLs
for anio, url in urls_datasets.items():
    response = requests.get(url, verify=False)
    if response.status_code == 200:
        #Identificar el delimitador adecuado y manejar las comillas:
        # El dataset con datos 2018-2020 (asociado a la clave '2022' en urls_datasets) usa ',' y comillas dobles.
        # Los datasets más recientes (asociados a '2023' y '2024') usan ';' y no requieren manejo específico de comillas.
        if anio == '2022':
            df = pd.read_csv(io.BytesIO(response.content), sep=',', encoding='latin1', quotechar='"')
        else:
            df = pd.read_csv(io.BytesIO(response.content), sep=';', encoding='latin1')
        #Asignar el DataFrame a una variable conel nombre df_{anio}
        vars()[f'df_{anio}'] = df
    else:
      print(f'Error al descragar eñ dataset {anio}. Codigo de estado:', response.status_code)

/usr/local/lib/python3.12/dist-packages/urllib3/connectionpool.py:1097: InsecureRequestWarning: Unverified HTTPS request is being made to host 'datos.salud.gob.ar'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#tls-warnings
  warnings.warn(
/usr/local/lib/python3.12/dist-packages/urllib3/connectionpool.py:1097: InsecureRequestWarning: Unverified HTTPS request is being made to host 'datos.salud.gob.ar'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#tls-warnings
  warnings.warn(
/tmp/ipython-input-1416929868.py:11: DtypeWarning: Columns (1,3,5,16378) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(io.BytesIO(response.content), sep=';', encoding='latin1')
/usr/local/lib/python3.12/dist-packages/urllib3/connectionpool.py:1097: InsecureRequestWarning: Unverified HTTPS request is being made to host 'datos.salud.gob.ar'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#tls-warnings
  warnings.warn(

In [313]:
#Esta soluion es porque tenia muchos valores vacios, entonces me entorpece todo,pr eso los decii quitar, en cada datafra,a
for anio, df in [('2022', df_2022), ('2023', df_2023), ('2024', df_2024)]:
    df = df.loc[:, ~df.columns.str.contains('Unnamed', 'NaN')]
    vars()[f'df_{anio}'] = df

In [314]:
df_2022

,id_sexo,sexo,id_jurisdiccion,jurisdiccion,anio,jurisdiccion_tasa_sifilis
0,3,ambos_sexos,200,ARG,2018,34.70
1,3,ambos_sexos,200,ARG,2019,56.10
2,3,ambos_sexos,200,ARG,2020,22.80
3,3,ambos_sexos,2,CABA,2018,37.80
4,3,ambos_sexos,2,CABA,2019,50.80
...,...,...,...,...,...,...
220,1,varones,94,Tierra del Fuego,2019,31.30
221,1,varones,94,Tierra del Fuego,2020,14.70
222,1,varones,90,Tucumán,2018,6.10
223,1,varones,90,Tucumán,2019,12.70
224,1,varones,90,Tucumán,2020,6.10

In [315]:
df_2023

,id_sexo,sexo,id_jurisdiccion,jurisdiccion,anio,jurisdiccion_tasa_sifilis
0,3.00,ambos_sexos,200.00,ARG,2022.00,"57,65350494"
1,3.00,ambos_sexos,2.00,CABA,2022.00,"8,145251578"
2,3.00,ambos_sexos,6.00,Buenos Aires,2022.00,"32,44620377"
3,3.00,ambos_sexos,10.00,Catamarca,2022.00,"8,521194103"
4,3.00,ambos_sexos,22.00,Chaco,2022.00,"80,14752357"
...,...,...,...,...,...,...
218,NaN,NaN,NaN,NaN,NaN,NaN
219,NaN,NaN,NaN,NaN,NaN,NaN
220,NaN,NaN,NaN,NaN,NaN,NaN
221,NaN,NaN,NaN,NaN,NaN,NaN
222,144.00,NaN,NaN,NaN,147606.00,"5084,290711"

In [316]:
df_2024

,id_sexo,sexo,id_jurisdiccion,jurisdiccion,anio,jurisdiccion_tasa_sifilis
0,3,Ambos sexos,200,ARG,2022,"57,6"
1,3,Ambos sexos,200,ARG,2023,"69,2"
2,3,Ambos sexos,6,Buenos Aires,2022,"32,6"
3,3,Ambos sexos,6,Buenos Aires,2023,"38,1"
4,3,Ambos sexos,2,CABA,2022,"7,7"
...,...,...,...,...,...,...
145,1,Varones,86,Santiago del Estero,2023,14
146,1,Varones,94,Tierra del Fuego,2022,"86,3"
147,1,Varones,94,Tierra del Fuego,2023,"124,3"
148,1,Varones,90,Tucum n,2022,"47,6"
149,1,Varones,90,Tucum n,2023,"47,9"

In [317]:
#Chequeamos que todos los dataframe tengan las mismas columas
columnas_por_anio= {}

#Obtenemos los nombres de las columns de cada dataframe
for anio, df in vars().items():
  if anio.startswith('df_'): #Verifica si es un dataframe. startswith() sirve para verificar si un texto empieza con ciertas letras.devuleve  bool
    columnas_por_anio[anio]= tuple(df.columns.tolist())
                                                                                                # nombre = "Judith"
                                                                                                  #print(nombre.startswith("Ju"))
                                                                                                  #Resultado:
                                                                                                  #True


#Imprimir los nombres de columnas de cada dataframe
for anio, columnas in columnas_por_anio.items():
  print(f'Nombres de columnas de {anio}: {columnas}\n')

#Obtener las columnas unicas de cada uno de los dataframe
columnas_unicas = set(columnas_por_anio.values())

#Verificar si todos los dataframe tienen las mismas columnas
#len() devuelve la cantidad de elementos que tiene algo
if len(columnas_por_anio.values()):
  print('OK!!.Todos los dataframes tienen las mismas columnas.\n')
else:
  print('No todas los dataframes tienen las mismas columnas.\n')

Nombres de columnas de df_2022: ('id_sexo', 'sexo', 'id_jurisdiccion', 'jurisdiccion', 'anio', 'jurisdiccion_tasa_sifilis')

Nombres de columnas de df_2023: ('id_sexo', 'sexo', 'id_jurisdiccion', 'jurisdiccion', 'anio', 'jurisdiccion_tasa_sifilis')

Nombres de columnas de df_2024: ('id_sexo', 'sexo', 'id_jurisdiccion', 'jurisdiccion', 'anio', 'jurisdiccion_tasa_sifilis')

Nombres de columnas de df_nan_sexo: ('id_sexo', 'sexo', 'id_jurisdiccion', 'jurisdiccion', 'anio', 'jurisdiccion_tasa_sifilis')

OK!!.Todos los dataframes tienen las mismas columnas.

In [318]:
df_2023.isna().all()

id_sexo                      False
sexo                         False
id_jurisdiccion              False
jurisdiccion                 False
anio                         False
jurisdiccion_tasa_sifilis    False
dtype: bool

In [319]:
print(df_2023.columns)

Index(['id_sexo', 'sexo', 'id_jurisdiccion', 'jurisdiccion', 'anio',
       'jurisdiccion_tasa_sifilis'],
      dtype='object')

In [320]:
# En el puntoanterioro si la respuesta era  que el dataframe tenia distintos nombres de columnas, entre los diferentes dataset. Para hacer marge luego tienene que estar iguales
#puntualemnete en este  caso NO sucede que no coincidan los nombres e las columnas entre las diferencetes csv., pero dejo un ejemplo que ocmo seria
# supongamos que en una columna tenemos tiene el nombre  Fecha_ARG, y en otro csv. la columna que refiere a ala misma info tiene  Fecha, loqueme conviene es convertirlo el primero al mismo nombre del segudo que es mas legible

#camiar el nombre de la columa "Fecha_ARG" a Fecha en df_2023 esto seria :
#df_2023.rename(columns={'Fecha_ARG': 'Fecha'}, inplace=True)

#luego de esto podemos correr nuevamnete el codigo ,para ver el contenido de las columnas de los dataframe para que sean iguales , chequear mas que nada

In [321]:
#Dataframe consolidado

#Lista de Dataframes a unir
dataframes = [df_2022, df_2023, df_2024]

#Concatenar todos los Dataframes en uno solo

df = pd.concat(dataframes, ignore_index=True)

df

,id_sexo,sexo,id_jurisdiccion,jurisdiccion,anio,jurisdiccion_tasa_sifilis
0,3.00,ambos_sexos,200.00,ARG,2018.00,34.70
1,3.00,ambos_sexos,200.00,ARG,2019.00,56.10
2,3.00,ambos_sexos,200.00,ARG,2020.00,22.80
3,3.00,ambos_sexos,2.00,CABA,2018.00,37.80
4,3.00,ambos_sexos,2.00,CABA,2019.00,50.80
...,...,...,...,...,...,...
593,1.00,Varones,86.00,Santiago del Estero,2023.00,14
594,1.00,Varones,94.00,Tierra del Fuego,2022.00,"86,3"
595,1.00,Varones,94.00,Tierra del Fuego,2023.00,"124,3"
596,1.00,Varones,90.00,Tucum n,2022.00,"47,6"
597,1.00,Varones,90.00,Tucum n,2023.00,"47,9"

In [322]:
#Obtener cantidad totao de registros del Dataframe df

cantidad_regitros= df.shape[0]

#imprimir la cantidad de registros
print("La Cantidad total de registros  en el Dataframe df es :", cantidad_regitros)

La Cantidad total de registros  en el Dataframe df es : 598

In [323]:
#Obtener y contar los valores NaN en la columa 'sexo'
nan_sexo= df['sexo'].isna().sum()

#Imprimo el numero de valores NaN en la columna 'sexo'
print('La cantidad de valores NaN en la columna "sexo" es:', nan_sexo)

La cantidad de valores NaN en la columna "sexo" es: 148

In [324]:
from pandas._libs.tslibs.offsets import prefix_mapping
#Filtrar el Dataframe por filas donde el calor de la columna 'sexo' es NaN
df_nan_sexo= df[df['sexo'].isna()]

#Imprimir el Dataframene filtrado
print(df_nan_sexo)

     id_sexo sexo  id_jurisdiccion jurisdiccion      anio  \
300      NaN  NaN              NaN          NaN       NaN
301      NaN  NaN              NaN          NaN       NaN
302      NaN  NaN              NaN          NaN       NaN
303      NaN  NaN              NaN          NaN       NaN
304      NaN  NaN              NaN          NaN       NaN
..       ...  ...              ...          ...       ...
443      NaN  NaN              NaN          NaN       NaN
444      NaN  NaN              NaN          NaN       NaN
445      NaN  NaN              NaN          NaN       NaN
446      NaN  NaN              NaN          NaN       NaN
447   144.00  NaN              NaN          NaN 147606.00

    jurisdiccion_tasa_sifilis
300                       NaN
301                       NaN
302                       NaN
303                       NaN
304                       NaN
..                        ...
443                       NaN
444                       NaN
445                       NaN
446                       NaN
447               5084,290711

[148 rows x 6 columns]

In [325]:
# Eliminar filas que estén vacías en todas las columnas, porque se ven muchos NaN

#Ideal si son filas totalmente basura.
#PAra eliminar las filas de X columnas donde aparezca NaN
#df= df.dropna(sunset=["sexo"])

df = df.dropna(how="any") #si querés eliminar TODAS las filas que tengan AL MENOS 1 NaN

#imprimo la cantidad de registros dNaN despues de eliminarlos  en todos lados, o en alguna columan en particular
print("cantidad de registros despues de eliminar los NAnN : ", df.shape[0])

cantidad de registros despues de eliminar los NAnN :  450

In [326]:
#Obtener y contar los valores NaN en la columa 'sexo'
nan_sexo= df['sexo'].isna().sum()

#Imprimo el numero de valores NaN en la columna 'sexo'
print('La cantidad de valores NaN en la columna "sexo" es:', nan_sexo)

La cantidad de valores NaN en la columna "sexo" es: 0

In [327]:

df_2023

,id_sexo,sexo,id_jurisdiccion,jurisdiccion,anio,jurisdiccion_tasa_sifilis
0,3.00,ambos_sexos,200.00,ARG,2022.00,"57,65350494"
1,3.00,ambos_sexos,2.00,CABA,2022.00,"8,145251578"
2,3.00,ambos_sexos,6.00,Buenos Aires,2022.00,"32,44620377"
3,3.00,ambos_sexos,10.00,Catamarca,2022.00,"8,521194103"
4,3.00,ambos_sexos,22.00,Chaco,2022.00,"80,14752357"
...,...,...,...,...,...,...
218,NaN,NaN,NaN,NaN,NaN,NaN
219,NaN,NaN,NaN,NaN,NaN,NaN
220,NaN,NaN,NaN,NaN,NaN,NaN
221,NaN,NaN,NaN,NaN,NaN,NaN
222,144.00,NaN,NaN,NaN,147606.00,"5084,290711"

In [328]:
#Obtener y contar los valores NaN en la columa 'sexo'
nan_sexo= df['sexo'].isna().sum()

#Imprimo el numero de valores NaN en la columna 'sexo'
print('La cantidad de valores NaN en la columna "sexo" es:', nan_sexo)

La cantidad de valores NaN en la columna "sexo" es: 0

In [329]:
#LIMPIEZA DE DATOS

#Obtener valores unicos de cada columna "id_sexo"
cavoles_unicos = df['id_sexo'].unique()

#Imprimir los valores unicos
print("Valores unicos de la columna 'id_sexo':")
print(cavoles_unicos)

Valores unicos de la columna 'id_sexo':
[3. 2. 1.]

In [330]:
#Obtener valores unicos de cada columna "sexo"  ACA VAMOS A VER REFLEJADO LO QUE BUSCABASMOS EN REGISTROS DIFERENTES ESCRITOS
cavoles_unicos = df['sexo'].unique()
#Imprimir los valores unicos
print("Valores unicos de la columna 'sexo':")
print(cavoles_unicos)

Valores unicos de la columna 'sexo':
['ambos_sexos' 'mujeres' 'varones' 'Ambos sexos' 'Mujeres' 'Varones']

In [331]:
cavoles_unicos = df['id_jurisdiccion'].unique()
#Imprimir los valores unicos
print("Valores unicos de la columna 'id_jurisdiccion':")
print(cavoles_unicos)

Valores unicos de la columna 'id_jurisdiccion':
[200.   2.   6.  10.  22.  26.  14.  18.  30.  34.  38.  42.  46.  50.
  54.  58.  62.  66.  70.  74.  78.  82.  86.  94.  90.]

In [332]:
cavoles_unicos = df['jurisdiccion'].unique()
#Imprimir los valores unicos
print("Valores unicos de la columna 'jurisdiccion':")
print(cavoles_unicos)

Valores unicos de la columna 'jurisdiccion':
['ARG' 'CABA' 'Buenos Aires' 'Catamarca' 'Chaco' 'Chubut' 'Córdoba'
 'Corrientes' 'Entre Ríos' 'Formosa' 'Jujuy' 'La Pampa' 'La Rioja'
 'Mendoza' 'Misiones' 'Neuquén' 'Río Negro' 'Salta' 'San Juan' 'San Luis'
 'Santa Cruz' 'Santa Fe' 'Santiago del Estero' 'Tierra del Fuego'
 'Tucumán' 'C¢rdoba' 'Entre R¡os' 'Neuqu\x82n' 'R¡o Negro' 'Tucum\xa0n']

In [333]:
#Obtener valores unicos de cada columna "anio"
cavoles_unicos = df['anio'].unique()

#Imprimir los valores unicos
print("Valores unicos de la columna 'anio':")
print(cavoles_unicos)

Valores unicos de la columna 'anio':
[2018. 2019. 2020. 2022. 2023.]

In [334]:
#Obtener valores unicos de cada columna "jurisdiccion_tasa_sifilis"
cavoles_unicos = df['jurisdiccion_tasa_sifilis'].unique()

#Imprimir los valores unicos
print("Valores unicos de la columna 'jurisdiccion_tasa_sifilis':")
print(cavoles_unicos)

Valores unicos de la columna 'jurisdiccion_tasa_sifilis':
[34.7 56.1 22.8 37.8 50.8 19.8 47.6 79.0 23.2 11.0 15.1 10.4 32.4 89.7
 41.4 18.4 14.4 31.5 34.0 15.2 28.3 26.4 89.8 123.1 39.0 7.6 14.3 26.1
 17.1 40.3 30.1 78.3 132.0 162.9 4.2 16.7 41.0 62.9 28.6 10.6 44.3 18.3
 17.8 33.3 19.6 18.7 21.7 19.5 28.7 18.5 36.8 61.5 41.6 46.4 90.0 84.0 5.8
 10.1 11.5 5.5 4.6 4.0 37.0 22.4 29.0 15.6 8.9 17.0 8.3 39.5 63.8 26.7
 35.7 45.3 19.1 53.9 88.8 27.0 11.3 24.3 12.5 38.5 118.7 50.2 13.4 22.1
 13.9 31.2 35.2 14.9 23.7 37.2 97.9 136.2 53.5 21.5 37.3 25.6 113.2 211.1
 281.8 5.2 23.1 51.0 72.9 30.3 14.6 73.5 22.0 15.7 19.4 18.2 53.4 78.5
 47.0 56.4 91.3 5.9 12.7 8.4 4.8 28.1 58.8 30.9 24.7 26.5 16.5 11.6 21.1
 10.5 29.7 48.1 18.8 57.1 20.6 41.2 68.8 19.3 10.8 8.2 26.3 60.0 32.5 23.4
 14.8 31.8 32.9 15.4 6.4 81.4 109.4 24.1 4.7 9.0 12.6 43.3 42.9 51.6 42.2
 3.1 10.3 7.7 30.7 52.5 6.7 19.9 36.2 17.9 36.4 21.2 10.2 18.9 44.1 36.1
 89.6 5.6 5.1 4.3 4.5 20.2 31.3 14.7 6.1 '57,65350494' '8,145251578'
 '32,44620377' '8,521194103' '80,14752357' '78,36769937' '140,1034169'
 '24,74543789' '11,69459667' '122,1722254' '109,7232029' '89,48128304'
 '65,39072195' '68,56936811' '78,23195775' '29,67420078' '72,93965059'
 '93,46447596' '109,8161332' '137,276925' '69,30205535' '100,9749585'
 '10,92082602' '70,88574207' '46,88262275' '62,14147189' '3,984378783'
 '37,78979181' '5,213937328' '99,8178846' '83,12786634' '141,1329868'
 '27,37461818' '15,74937037' '151,1967857' '116,2688497' '106,7218426'
 '75,46350871' '63,4572561' '91,27679028' '31,53100549' '73,66070267'
 '91,00859495' '124,4394005' '159,2884607' '78,19780832' '110,8463628'
 '10,7680834' '58,25938872' '44,67460477' '52,99549378' '12,75704585'
 '26,9080324' '11,82016331' '59,94025789' '73,63310744' '139,0301436'
 '22,04730569' '7,499073432' '92,85992212' '103,0263013' '71,9555868'
 '55,22937606' '73,84090786' '65,14445277' '27,79371152' '72,2148234'
 '95,833593' '94,97467763' '114,9256273' '60,87631455' '90,60185682'
 '11,0750668' '83,03945992' '49,14423658' '57,6' '69,2' '32,6' '38,1'
 '7,7' '16,7' '8' '110,6' '78,3' '87,9' '79,8' '97' '138' '175,5' '25,2'
 '38' '11,3' '21' '121' '124,5' '108,1' '132,4' '86,5' '155,2' '64,9'
 '56,5' '68,2' '72' '77,3' '66,4' '29,4' '50,7' '73,5' '89,9' '92' '100,4'
 '107,1' '92,3' '135,2' '144,2' '67,5' '67,7' '121,5' '11' '20,3' '73,6'
 '118,6' '46,8' '45,9' '62,2' '75,4' '37,9' '44,6' '3,7' '9,9' '5,7'
 '101,6' '97,7' '107' '84,7' '100,1' '139,8' '178,9' '28,2' '44,2' '15,5'
 '25,8' '148,9' '166,1' '114,8' '137,2' '102,9' '195,5' '75' '82,3' '62,9'
 '67,6' '91' '31,5' '52,5' '74,4' '95,9' '88,7' '104,3' '120,5' '111,9'
 '154,7' '173,6' '81,6' '110,4' '133,3' '10,6' '26,7' '60,5' '112,7' '46'
 '43,8' '52,9' '62,8' '27' '31,4' '12,1' '24,3' '10,4' '119,6' '58,3'
 '74,9' '94' '136,2' '171,9' '22' '31,7' '7,1' '16' '92,9' '82,5' '101,2'
 '127,4' '69,7' '114,2' '54,7' '30,5' '76,6' '63,6' '55,4' '27,2' '48,8'
 '72,5' '83,8' '95,3' '96,4' '93,5' '115,3' '114,3' '60,4' '54,5' '109'
 '11,5' '14' '86,3' '124,3' '47,6' '47,9']

In [335]:
#Elimino las tildesy y los valores ascii que aparecian C¢rdoba' 'Entre R¡os' 'Neuqu\x82n' 'R¡o Negro'
def limpiar_texto(x):
    if pd.isna(x):
        return x
    # Normaliza y elimina tildes y caracteres raros
    x = unicodedata.normalize("NFKD", x).encode("ascii", "ignore").decode("utf-8")
    return x

# Limpieza + Title Case sin tildes
df['jurisdiccion'] = df['jurisdiccion'].astype(str).apply(limpiar_texto).str.title()
#Obtener los valores unicos de la columa "jurisdiccion" ya capitalizados
cavoles_unicos = df['jurisdiccion'].unique()
#Imprimir los valores unicos
print("Valores unicos de la columna 'jurisdiccion':")
print(cavoles_unicos)

Valores unicos de la columna 'jurisdiccion':
['Arg' 'Caba' 'Buenos Aires' 'Catamarca' 'Chaco' 'Chubut' 'Cordoba'
 'Corrientes' 'Entre Rios' 'Formosa' 'Jujuy' 'La Pampa' 'La Rioja'
 'Mendoza' 'Misiones' 'Neuquen' 'Rio Negro' 'Salta' 'San Juan' 'San Luis'
 'Santa Cruz' 'Santa Fe' 'Santiago Del Estero' 'Tierra Del Fuego'
 'Tucuman' 'Crdoba' 'Entre Ros' 'Neuqun' 'Ro Negro' 'Tucum N']

/tmp/ipython-input-2442817934.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['jurisdiccion'] = df['jurisdiccion'].astype(str).apply(limpiar_texto).str.title()

jurisdiccion
buENOS aIReS
ciudad AUTONOMA de buenos aires
tUCUMAN

Después de aplicar **.str.title()** queda así:

jurisdiccion
Buenos Aires

In [336]:
#En el caso qeu allan diferentes  nombres en los registros , digamos Registros, registros , son diferentes, ademas pueden tener algunos tilde y otros no  . Esos tiene que ser iguales en todos los sentidos
#Capitalizar la primera letra de cada palabra en los  valores de cada columna "jurisdiccion"

df['jurisdiccion'] = df['jurisdiccion'].str.title()

#Obtener los valores unicos de la columa "jurisdiccion" ya capitalizados
cavoles_unicos = df['jurisdiccion'].unique()
#Imprimir los valores unicos
print("Valores unicos de la columna 'jurisdiccion':")
print(cavoles_unicos)

Valores unicos de la columna 'jurisdiccion':
['Arg' 'Caba' 'Buenos Aires' 'Catamarca' 'Chaco' 'Chubut' 'Cordoba'
 'Corrientes' 'Entre Rios' 'Formosa' 'Jujuy' 'La Pampa' 'La Rioja'
 'Mendoza' 'Misiones' 'Neuquen' 'Rio Negro' 'Salta' 'San Juan' 'San Luis'
 'Santa Cruz' 'Santa Fe' 'Santiago Del Estero' 'Tierra Del Fuego'
 'Tucuman' 'Crdoba' 'Entre Ros' 'Neuqun' 'Ro Negro' 'Tucum N']

/tmp/ipython-input-1452248622.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['jurisdiccion'] = df['jurisdiccion'].str.title()

aca ya puedo ver bien cuales son las provincias que quedaron mas escritas y directamenet las puedo modificar  para qeu qeuden todas como quiero

In [337]:
#reemplazar los valores  que qeudaron medio mal para que se entiendan mejor
#replazamos 'Crdoba' 'Entre Ros' 'Neuqun' 'Ro Negro' 'Tucum N'' por Cordoba' 'Entre Rios' 'Neuquen' 'Rio Negro' en la columna 'jurisdiccion'

df['jurisdiccion']=df['jurisdiccion'].replace({'Crdoba' : 'Cordoba', 'Entre Ros' : 'Entre Rios', 'Neuqun' : 'Neuquen', 'Ro Negro' : 'Rio Negro', 'Tucum N': 'Tucuman'})

#Obtener loos calores unicos actualizados para la columna 'jurisdiccion'
valores_unicos_juridiccion = df['jurisdiccion'].unique()

#Imprimir los valores unicos actualizados
print("Valores unicos actualizados de la columna 'jurisdiccion':")
print(valores_unicos_juridiccion)

Valores unicos actualizados de la columna 'jurisdiccion':
['Arg' 'Caba' 'Buenos Aires' 'Catamarca' 'Chaco' 'Chubut' 'Cordoba'
 'Corrientes' 'Entre Rios' 'Formosa' 'Jujuy' 'La Pampa' 'La Rioja'
 'Mendoza' 'Misiones' 'Neuquen' 'Rio Negro' 'Salta' 'San Juan' 'San Luis'
 'Santa Cruz' 'Santa Fe' 'Santiago Del Estero' 'Tierra Del Fuego'
 'Tucuman']

/tmp/ipython-input-3858858142.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['jurisdiccion']=df['jurisdiccion'].replace({'Crdoba' : 'Cordoba', 'Entre Ros' : 'Entre Rios', 'Neuqun' : 'Neuquen', 'Ro Negro' : 'Rio Negro', 'Tucum N': 'Tucuman'})

In [338]:
#Lista de  columas para verificar lso valores unicos
columnas= ['id_sexo', 'sexo', 'id_jurisdiccion', 'jurisdiccion', 'anio','jurisdiccion_tasa_sifilis']

#Iterar sobre las columnas y mostrar los valores unicos
for columna in columnas:
  valores_unicos = df[columna].unique()
  print(f'Valores unicos de la columna "{columna}":')
  print(valores_unicos)
  print()

Valores unicos de la columna "id_sexo":
[3. 2. 1.]

Valores unicos de la columna "sexo":
['ambos_sexos' 'mujeres' 'varones' 'Ambos sexos' 'Mujeres' 'Varones']

Valores unicos de la columna "id_jurisdiccion":
[200.   2.   6.  10.  22.  26.  14.  18.  30.  34.  38.  42.  46.  50.
  54.  58.  62.  66.  70.  74.  78.  82.  86.  94.  90.]

Valores unicos de la columna "jurisdiccion":
['Arg' 'Caba' 'Buenos Aires' 'Catamarca' 'Chaco' 'Chubut' 'Cordoba'
 'Corrientes' 'Entre Rios' 'Formosa' 'Jujuy' 'La Pampa' 'La Rioja'
 'Mendoza' 'Misiones' 'Neuquen' 'Rio Negro' 'Salta' 'San Juan' 'San Luis'
 'Santa Cruz' 'Santa Fe' 'Santiago Del Estero' 'Tierra Del Fuego'
 'Tucuman']

Valores unicos de la columna "anio":
[2018. 2019. 2020. 2022. 2023.]

Valores unicos de la columna "jurisdiccion_tasa_sifilis":
[34.7 56.1 22.8 37.8 50.8 19.8 47.6 79.0 23.2 11.0 15.1 10.4 32.4 89.7
 41.4 18.4 14.4 31.5 34.0 15.2 28.3 26.4 89.8 123.1 39.0 7.6 14.3 26.1
 17.1 40.3 30.1 78.3 132.0 162.9 4.2 16.7 41.0 62.9 28.6 10.6 44.3 18.3
 17.8 33.3 19.6 18.7 21.7 19.5 28.7 18.5 36.8 61.5 41.6 46.4 90.0 84.0 5.8
 10.1 11.5 5.5 4.6 4.0 37.0 22.4 29.0 15.6 8.9 17.0 8.3 39.5 63.8 26.7
 35.7 45.3 19.1 53.9 88.8 27.0 11.3 24.3 12.5 38.5 118.7 50.2 13.4 22.1
 13.9 31.2 35.2 14.9 23.7 37.2 97.9 136.2 53.5 21.5 37.3 25.6 113.2 211.1
 281.8 5.2 23.1 51.0 72.9 30.3 14.6 73.5 22.0 15.7 19.4 18.2 53.4 78.5
 47.0 56.4 91.3 5.9 12.7 8.4 4.8 28.1 58.8 30.9 24.7 26.5 16.5 11.6 21.1
 10.5 29.7 48.1 18.8 57.1 20.6 41.2 68.8 19.3 10.8 8.2 26.3 60.0 32.5 23.4
 14.8 31.8 32.9 15.4 6.4 81.4 109.4 24.1 4.7 9.0 12.6 43.3 42.9 51.6 42.2
 3.1 10.3 7.7 30.7 52.5 6.7 19.9 36.2 17.9 36.4 21.2 10.2 18.9 44.1 36.1
 89.6 5.6 5.1 4.3 4.5 20.2 31.3 14.7 6.1 '57,65350494' '8,145251578'
 '32,44620377' '8,521194103' '80,14752357' '78,36769937' '140,1034169'
 '24,74543789' '11,69459667' '122,1722254' '109,7232029' '89,48128304'
 '65,39072195' '68,56936811' '78,23195775' '29,67420078' '72,93965059'
 '93,46447596' '109,8161332' '137,276925' '69,30205535' '100,9749585'
 '10,92082602' '70,88574207' '46,88262275' '62,14147189' '3,984378783'
 '37,78979181' '5,213937328' '99,8178846' '83,12786634' '141,1329868'
 '27,37461818' '15,74937037' '151,1967857' '116,2688497' '106,7218426'
 '75,46350871' '63,4572561' '91,27679028' '31,53100549' '73,66070267'
 '91,00859495' '124,4394005' '159,2884607' '78,19780832' '110,8463628'
 '10,7680834' '58,25938872' '44,67460477' '52,99549378' '12,75704585'
 '26,9080324' '11,82016331' '59,94025789' '73,63310744' '139,0301436'
 '22,04730569' '7,499073432' '92,85992212' '103,0263013' '71,9555868'
 '55,22937606' '73,84090786' '65,14445277' '27,79371152' '72,2148234'
 '95,833593' '94,97467763' '114,9256273' '60,87631455' '90,60185682'
 '11,0750668' '83,03945992' '49,14423658' '57,6' '69,2' '32,6' '38,1'
 '7,7' '16,7' '8' '110,6' '78,3' '87,9' '79,8' '97' '138' '175,5' '25,2'
 '38' '11,3' '21' '121' '124,5' '108,1' '132,4' '86,5' '155,2' '64,9'
 '56,5' '68,2' '72' '77,3' '66,4' '29,4' '50,7' '73,5' '89,9' '92' '100,4'
 '107,1' '92,3' '135,2' '144,2' '67,5' '67,7' '121,5' '11' '20,3' '73,6'
 '118,6' '46,8' '45,9' '62,2' '75,4' '37,9' '44,6' '3,7' '9,9' '5,7'
 '101,6' '97,7' '107' '84,7' '100,1' '139,8' '178,9' '28,2' '44,2' '15,5'
 '25,8' '148,9' '166,1' '114,8' '137,2' '102,9' '195,5' '75' '82,3' '62,9'
 '67,6' '91' '31,5' '52,5' '74,4' '95,9' '88,7' '104,3' '120,5' '111,9'
 '154,7' '173,6' '81,6' '110,4' '133,3' '10,6' '26,7' '60,5' '112,7' '46'
 '43,8' '52,9' '62,8' '27' '31,4' '12,1' '24,3' '10,4' '119,6' '58,3'
 '74,9' '94' '136,2' '171,9' '22' '31,7' '7,1' '16' '92,9' '82,5' '101,2'
 '127,4' '69,7' '114,2' '54,7' '30,5' '76,6' '63,6' '55,4' '27,2' '48,8'
 '72,5' '83,8' '95,3' '96,4' '93,5' '115,3' '114,3' '60,4' '54,5' '109'
 '11,5' '14' '86,3' '124,3' '47,6' '47,9']

In [339]:
#ACa observo que 'sexo' , que hay valores 'ambos_sexos' 'mujeres' 'varones' 'Ambos sexos' 'Mujeres' 'Varones']
#reemplazar los valores  que qeudaron medio mal para que se entiendan mejor
#replazamos ambos_sexos' 'mujeres' 'varones' por 'Ambos sexos' 'Mujeres' 'Varones' en la columna 'sexo'

df['sexo']=df['sexo'].replace({'ambos_sexos' : 'Ambos sexos', 'mujeres' : 'Mujeres', 'varones' : 'Varones'})

#Obtener loos calores unicos actualizados para la columna 'sexo'
valores_unicos_sexo = df['sexo'].unique()

#Imprimir los valores unicos actualizados
print("Valores unicos actualizados de la columna 'sexo':")
print(valores_unicos_sexo)

Valores unicos actualizados de la columna 'sexo':
['Ambos sexos' 'Mujeres' 'Varones']

/tmp/ipython-input-1781097815.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sexo']=df['sexo'].replace({'ambos_sexos' : 'Ambos sexos', 'mujeres' : 'Mujeres', 'varones' : 'Varones'})

In [340]:
#Observo que los valores de la tasa de sifilis, agunos valores estas con " " y otrso con . o con , . Esto me indica que hay diferentes tipos de datos dando vueltas, string, decimales y float , lo mas conveniente es pasar todo a float ya que el valor es unaTASA y lleva comas ;D

df['jurisdiccion_tasa_sifilis'] = (
    df['jurisdiccion_tasa_sifilis']
    .astype(str)                        # pasar todo a string
    .str.strip()                        # eliminar espacios
    .str.replace("'", "", regex=False)  # eliminar comillas simples
    .str.replace('"', "", regex=False)  # eliminar comillas dobles
    .str.replace(",", ".", regex=False) # coma → punto
)

df['jurisdiccion_tasa_sifilis'] = pd.to_numeric(df['jurisdiccion_tasa_sifilis'], errors='coerce')

/tmp/ipython-input-1882121412.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['jurisdiccion_tasa_sifilis'] = (
/tmp/ipython-input-1882121412.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['jurisdiccion_tasa_sifilis'] = pd.to_numeric(df['jurisdiccion_tasa_sifilis'], errors='coerce')

In [341]:
#Repito para ver como quedaron los valores unicos de DAtaframe CONSOLIDADO para ver como va quedando !!
#Lista de  columas para verificar lso valores unicos
columnas= ['id_sexo', 'sexo', 'id_jurisdiccion', 'jurisdiccion', 'anio','jurisdiccion_tasa_sifilis']

#Iterar sobre las columnas y mostrar los valores unicos
for columna in columnas:
  valores_unicos = df[columna].unique()
  print(f'Valores unicos de la columna "{columna}":')
  print(valores_unicos)
  print()

Valores unicos de la columna "id_sexo":
[3. 2. 1.]

Valores unicos de la columna "sexo":
['Ambos sexos' 'Mujeres' 'Varones']

Valores unicos de la columna "id_jurisdiccion":
[200.   2.   6.  10.  22.  26.  14.  18.  30.  34.  38.  42.  46.  50.
  54.  58.  62.  66.  70.  74.  78.  82.  86.  94.  90.]

Valores unicos de la columna "jurisdiccion":
['Arg' 'Caba' 'Buenos Aires' 'Catamarca' 'Chaco' 'Chubut' 'Cordoba'
 'Corrientes' 'Entre Rios' 'Formosa' 'Jujuy' 'La Pampa' 'La Rioja'
 'Mendoza' 'Misiones' 'Neuquen' 'Rio Negro' 'Salta' 'San Juan' 'San Luis'
 'Santa Cruz' 'Santa Fe' 'Santiago Del Estero' 'Tierra Del Fuego'
 'Tucuman']

Valores unicos de la columna "anio":
[2018. 2019. 2020. 2022. 2023.]

Valores unicos de la columna "jurisdiccion_tasa_sifilis":
[ 34.7         56.1         22.8         37.8         50.8
  19.8         47.6         79.          23.2         11.
  15.1         10.4         32.4         89.7         41.4
  18.4         14.4         31.5         34.          15.2
  28.3         26.4         89.8        123.1         39.
   7.6         14.3         26.1         17.1         40.3
  30.1         78.3        132.         162.9          4.2
  16.7         41.          62.9         28.6         10.6
  44.3         18.3         17.8         33.3         19.6
  18.7         21.7         19.5         28.7         18.5
  36.8         61.5         41.6         46.4         90.
  84.           5.8         10.1         11.5          5.5
   4.6          4.          37.          22.4         29.
  15.6          8.9         17.           8.3         39.5
  63.8         26.7         35.7         45.3         19.1
  53.9         88.8         27.          11.3         24.3
  12.5         38.5        118.7         50.2         13.4
  22.1         13.9         31.2         35.2         14.9
  23.7         37.2         97.9        136.2         53.5
  21.5         37.3         25.6        113.2        211.1
 281.8          5.2         23.1         51.          72.9
  30.3         14.6         73.5         22.          15.7
  19.4         18.2         53.4         78.5         47.
  56.4         91.3          5.9         12.7          8.4
   4.8         28.1         58.8         30.9         24.7
  26.5         16.5         11.6         21.1         10.5
  29.7         48.1         18.8         57.1         20.6
  41.2         68.8         19.3         10.8          8.2
  26.3         60.          32.5         23.4         14.8
  31.8         32.9         15.4          6.4         81.4
 109.4         24.1          4.7          9.          12.6
  43.3         42.9         51.6         42.2          3.1
  10.3          7.7         30.7         52.5          6.7
  19.9         36.2         17.9         36.4         21.2
  10.2         18.9         44.1         36.1         89.6
   5.6          5.1          4.3          4.5         20.2
  31.3         14.7          6.1         57.65350494   8.14525158
  32.44620377   8.5211941   80.14752357  78.36769937 140.1034169
  24.74543789  11.69459667 122.1722254  109.7232029   89.48128304
  65.39072195  68.56936811  78.23195775  29.67420078  72.93965059
  93.46447596 109.8161332  137.276925    69.30205535 100.9749585
  10.92082602  70.88574207  46.88262275  62.14147189   3.98437878
  37.78979181   5.21393733  99.8178846   83.12786634 141.1329868
  27.37461818  15.74937037 151.1967857  116.2688497  106.7218426
  75.46350871  63.4572561   91.27679028  31.53100549  73.66070267
  91.00859495 124.4394005  159.2884607   78.19780832 110.8463628
  10.7680834   58.25938872  44.67460477  52.99549378  12.75704585
  26.9080324   11.82016331  59.94025789  73.63310744 139.0301436
  22.04730569   7.49907343  92.85992212 103.0263013   71.9555868
  55.22937606  73.84090786  65.14445277  27.79371152  72.2148234
  95.833593    94.97467763 114.9256273   60.87631455  90.60185682
  11.0750668   83.03945992  49.14423658  57.6         69.2
  32.6         38.1          8.         110.6         87.9
  79.8         97.         138.         175.5         25.2
  38.          21.         121.         124.5        108.1
 132.4         86.5        155.2         64.9         56.5
  68.2         72.          77.3         66.4         29.4
  50.7         89.9         92.         100.4        107.1
  92.3        135.2        144.2         67.5         67.7
 121.5         20.3         73.6        118.6         46.8
  45.9         62.2         75.4         37.9         44.6
   3.7          9.9          5.7        101.6         97.7
 107.          84.7        100.1        139.8        178.9
  28.2         44.2         15.5         25.8        148.9
 166.1        114.8        137.2        102.9        195.5
  75.          82.3         67.6         91.          74.4
  95.9         88.7        104.3        120.5        111.9
 154.7        173.6         81.6        110.4        133.3
  60.5        112.7         46.          43.8         52.9
  62.8         31.4         12.1        119.6         58.3
  74.9         94.         171.9         31.7          7.1
  16.          92.9         82.5        101.2        127.4
  69.7        114.2         54.7         30.5         76.6
  63.6         55.4         27.2         48.8         72.5
  83.8         95.3         96.4         93.5        115.3
 114.3         60.4         54.5        109.          14.
  86.3        124.3         47.9       ]

AHORA si quedo hermoso

In [345]:
#Script Path
cwd = os.getcwd()
print('\n******SCRIPT LOCATION:******')
print('The script location in :', cwd)

#creates input and output foders if neccesary
output_path= cwd
try:
    os.stat(output_path)
except:
    os.mkdir(output_path)

******SCRIPT LOCATION:******
The script location in : /content

In [347]:
#Persisitencia

#Definir uhna ruta del archivo CSV de salida
ruta_salida= os.path.join(cwd, "df_consolidado_Sifilis.csv")

#Guardar el DataFrame df en un archivo CSV enla ubicacion actual de trabajo
df.to_csv(ruta_salida, index=False)

#mprimior la ruta del archivo guardado
print("EL dataframe se guardo en :", ruta_salida)

EL dataframe se guardo en : /content/df_consolidado_Sifilis.csv

In [350]:
from google.colab import files
files.download("/content/df_consolidado_Sifilis.csv")

In [342]:
end = time.time()
totaltime= round((end - start)/60)
print("Minutos this script look to rum: ", totaltime)

Minutos this script look to rum:  9